<!doctype html>
<html
  lang="pt-br"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastrar Livro</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>

  <body>
    <header>
      <a th:href="@{/}">
        <h1>Gigi's BookStore</h1>
      </a>
      <nav>
        <a th:href="@{/}"> Início </a>
        <a th:href="@{/livros}"> Recomendações </a>
        <div sec:authorize="isAuthenticated()">
          <a th:href="@{/favoritos}"> Favoritos </a>
        </div>
        <div sec:authorize="isAnonymous()">
          <a th:href="@{/login}"> Login </a>
          <a th:href="@{/cadastro-usuario}"> Criar Conta </a>
        </div>
        <div sec:authorize="hasRole('admin')">
          <a th:href="@{/cadastro}"> Cadastrar Livro </a>
          <a th:href="@{/usuarios}"> Usuários </a>
        </div>
        <div sec:authorize="isAuthenticated()">
          <a th:href="@{/logout}"> Logout </a>
        </div>
      </nav>
    </header>

    <main class="form">
      <h2>Cadastrar novo livro</h2>

      <form th:action="@{/livro}" method="post" th:object="${livro}">
        <label>Título</label>
        <input type="text" th:field="*{titulo}" placeholder="Digite o título" required />

        <label>Autor</label>
        <input type="text" th:field="*{autor}" placeholder="Digite o autor" required />

        <label>Gênero</label>
        <input type="text" th:field="*{genero}" placeholder="Ex: Romance" required />

        <label>Páginas</label>
        <input type="number" th:field="*{paginas}" placeholder="Quantidade de páginas"  required/>

        <label>Imagem (URL)</label>
        <input type="text" th:field="*{imagem}" placeholder="Link da imagem" required />

        <label>Sinopse</label>
        <textarea rows="5" th:field="*{sinopse}" placeholder="Digite a sinopse do livro" required></textarea>

        <div class="botoes-form">
          <button type="submit">Adicionar Livro</button>
          <button type="reset">Limpar</button>
        </div>
      </form>
    </main>

    <footer>
      <p>© 2026 Gigi's BookStore | Um espaço para recomendações de livros :)</p>
    </footer>
  </body>
</html>
