<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Livro</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>

  <body>
    <header>
      <a th:href="@{/}">
        <h1>Gigi's BookStore</h1>
      </a>

      <nav>
        <a th:href="@{/}">Início</a>
        <a th:href="@{/livros}">Recomendações</a>
        <a th:href="@{/cadastro}">Cadastrar Livro</a>
      </nav>
    </header>

    <main class="form">
      <h2>Editar livro</h2>
      <form action="#" th:action="@{'/livro/' + ${id} + '/editar'}" method="post" th:object="${livro}">
        
        Título:
        <input type="text" th:field="*{titulo}" />
        <br /><br />

        Autor:
        <input type="text" th:field="*{autor}" />
        <br /><br />

        Gênero:
        <input type="text" th:field="*{genero}" />
        <br /><br />

        Páginas:
        <input type="number" th:field="*{paginas}" />
        <br /><br />

        Imagem:
        <input type="text" th:field="*{imagem}" />
        <br /><br />

        Sinopse:
        <textarea th:field="*{sinopse}"></textarea>
        <br /><br />

        <input type="submit" value="Editar Livro" />
      </form>
    </main>
  </body>
</html>
