<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>

  <body>
    <header>
      <a th:href="@{/}">
        <h1>Gigi's BookStore</h1>
      </a>
      <nav>
        <a th:href="@{/}"> Início </a>
        <a th:href="@{/livros}"> Recomendações </a>
        <div sec:authorize="isAuthenticated()">
          <a th:href="@{/favoritos}"> Favoritos </a>
        </div>
        <div sec:authorize="isAnonymous()">
          <a th:href="@{/login}"> Login </a>
          <a th:href="@{/cadastro-usuario}"> Criar Conta </a>
        </div>
        <div sec:authorize="hasRole('admin')">
          <a th:href="@{/cadastro}"> Cadastrar Livro </a>
        </div>
        <div sec:authorize="isAuthenticated()">
          <a th:href="@{/logout}"> Logout </a>
        </div>
      </nav>
    </header>

    <main class="form">
      <h2>Entrar na conta</h2>

      <form th:action="@{/login}" method="post">
        <label>Email</label>

        <input
          type="email"
          name="username"
          placeholder="Digite seu email"
          required
        />

        <label>Senha</label>

        <input
          type="password"
          name="password"
          placeholder="Digite sua senha"
          required
        />

        <div class="botoes-form">
          <button type="submit">Entrar</button>

          <a th:href="@{/cadastro-usuario}">
            <button type="button">Criar Conta</button>
          </a>
        </div>
      </form>
    </main>

    <footer>
      <p>© 2026 Gigi's BookStore | Um espaço para recomendações de livros :)</p>
    </footer>
  </body>
</html>
